name: Bump Resonate version

on:
  workflow_call:
  workflow_dispatch:

jobs:
  release:
    permissions:
      contents: write
    runs-on: macos-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Git config
        run: |
          git config user.name "${GITHUB_ACTOR}"
          git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"

      - name: Run release script
        run: |
          ./release/release.sh

      - name: Verify formula
        run: |
          brew install --build-from-source Formula/resonate.rb && resonate -v

      - name: Push changes
        uses: ad-m/github-push-action@v0.8.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          repository: resonatehq/homebrew-tap
